*{
  margin: 0;
  box-sizing: border-box;
}
.quote-container{
  width: 100vw;
  height: 100vh;
}

.quote-box{
  max-width: 600px;
  width: 90%; /* Makes it responsive on smaller screens */
  padding: 20px;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
  border-radius: 5px;
  
  /* Centering */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.quote-text{
  font-size: 40px;
  font-weight: bold;
  text-align:start;
}
.author-box{
  padding: 5px;
  text-align: end;
}